.more .more__btn-list,
.more .more__suggestions-list {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.more__btn-list .more__btn,
.more .suggestions {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.more__btn .more__btn-title {
    font-size: 14px;
    margin-top: 15px;
}

.more .more__title {
    border-top: 1px solid #f7f7f7;
    padding-top: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}


.suggestions .suggestions__title {
    font-size: 12px;
    margin-top: 15px;
}

.suggestions .suggentions__icon {
    background-color: #fce006;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestions .suggentions__icon {
    font-size :28px;
    color : #ffffff;
}